<mat-toolbar class="navigation">
    <mat-toolbar-row>
        <mat-nav-list>
            <div class="element" [routerLink]="['/app']" routerLinkActive="activated">
                <mat-icon class="icons">home</mat-icon>
                <div class="text">Home</div>
            </div>
            <div class="element" [routerLink]="['/items']" routerLinkActive="activated">
                <mat-icon class="icons">list_alt</mat-icon>
                <div class="text">Items</div>
            </div>
            <div class="element" [routerLink]="['/server']" routerLinkActive="activated">
                <mat-icon class="icons">cloud_queue</mat-icon>
                <div class="text">Server</div>
            </div>
            <div class="element" [routerLink]="['/settings']" routerLinkActive="activated">
                <mat-icon class="icons">settings</mat-icon>
                <div class="text">Settings</div>
            </div>
            <div class="element" [routerLink]="['/quicksettings']" routerLinkActive="activated">
                <mat-icon class="icons">settings_applications</mat-icon>
                <div class="text">Quick Settings</div>
            </div>
        </mat-nav-list>
        <span class="space-right"></span>
        <mat-nav-list *ngIf="options">
        <div *ngIf="options?.saveCallback" class="element" (click)="saveMethod()">
            <mat-icon class="icons">save</mat-icon>
            <div class="text">Save</div>
        </div>
        </mat-nav-list>
    </mat-toolbar-row>
</mat-toolbar>