<mat-toolbar class="navigation">
    <mat-toolbar-row>
        <mat-nav-list>
            <a [routerLink]="['/app']" routerLinkActive="activated" >
                    <mat-icon class="icons">home</mat-icon>
            </a>
            <a [routerLink]="['/items']" routerLinkActive="activated">
                <mat-icon class="icons">list_alt</mat-icon>
            </a>
            <a [routerLink]="['/server']" routerLinkActive="activated">
                <mat-icon class="icons">cloud_queue</mat-icon>
            </a>
            <a [routerLink]="['/settings']" routerLinkActive="activated">
                <mat-icon class="icons">settings</mat-icon>
            </a>
            <a [routerLink]="['/quicksettings']" routerLinkActive="activated">
                <mat-icon class="icons">settings_applications</mat-icon>
            </a>
        </mat-nav-list>
            <span class="space-right"></span>
            <button class="btn btn-primary save-button">Save</button>
    </mat-toolbar-row>
</mat-toolbar>