$primary-bg-color: #222831;
$primary-color: #00adb5;
$secondary-color: #393e46;
$gray-color: #eeeeee;

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.8fr 1.9fr;
  grid-template-areas: "Files Navbar Navbar Navbar" "Files Content Content Content" "News Content Content Content";
}

//Navbar
.Navbar {
  grid-area: Navbar;
  background-color: $primary-bg-color;
  align-items: center;
  border-left: 2px $primary-color solid;
  .settings {
      color: white;
      float: right;
      position: relative;
      margin-right:5%;
      top: 50%;
      text-align: right;
      cursor: pointer;
      align-items: center;
      display: flex;
        mat-icon {
          display: inline-block;
          font-size: 35px !important;
          height: 35px !important;
          width: 35px !important;
          color: $primary-color;
        }

    }
}

.settings:hover > .icon{
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

//Leftside
.Leftside {
  grid-area: 1 / 1 / 2 / 2;
}


//Files
.Files {
  grid-area: Files;
  color: white;
  background-color: $primary-bg-color;
  border-bottom: 2px $primary-color solid;
}

//News
.News { grid-area: News;
  color: white;
  background-color: $primary-bg-color;
}

//Content
.Content {
  grid-area: Content;
  background-color: $primary-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px $primary-color solid;
  .menu-container {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 90%;
    background-color: $primary-bg-color;
  }
}

//Main menu
.menu {
  list-style: none;
}

.menu-container {
  padding: 2%;
}

.menu-item {
  transition: .5s;
  cursor: pointer;
  margin: 2% auto;
  padding: 2% 0;
  border: $primary-color 1px solid;
  border-radius: 10px;
  width: 40%;
  display: block;
  box-shadow: 0 0 15px 0 rgba(175, 175, 175, 0.30);
  .text {
    font-family: 'Comfortaa', cursive;
    display: block;
    margin: 0 auto;
    font-size:25px;
    color: $primary-color;
  }
}

.news-text {
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
  font-size:30px;
  padding: 3%;
}

.news-tile {
  color: $primary-color;
  font-family: 'Comfortaa', cursive;
  cursor: pointer;
  padding: 1%;
  margin: 0 auto;
  text-align: center;
  display: block;
  min-height: 33.33%;
  height: 15%;
  transition: .5s;
  font-size:20px;
    .title {
      font-weight: bold;
      padding-bottom:3%;
      transition: .5s;
    }
    .description {
      font-weight: lighter;
      transition: .5s;
    }
}

.news-tile:hover > .news-link > .title {
    color: $gray-color;
    font-size: 22px;
}

.news-tile:hover > .news-link > .description {
  font-size: 21px;
  color: $gray-color;
  font-weight: bold;
}

.news-tiles {
  height:85%;
}

.news-tile:hover {
  box-shadow: 0 0 15px 0 rgba(175, 175, 175, 0.30);
  background-color: rgba(175, 175, 175, 0.30);
}

.menu-item:hover {
  box-shadow: 0 0 30px 0 rgba(0, 173, 181, 0.31);
}


