<div class="grid-container">
    <div class="Navbar">
        <div class="settings pull-right" (click)="gotoSettings()">
            <mat-icon class="icon">settings</mat-icon>
        </div>
    </div>
    <div class="Content">
        <div class="menu-container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="logo-rt">
                        <img class="logort" src="../../assets/images/logort.svg">
                    </div>
                </div>
                <ul class="col-12 text-center menu">
                    <li class="menu-item" (click)="gotoItems()"><div class="text">Items</div></li>
                    <li class="menu-item" (click)="gotoServer()"><div class="text">Server</div></li>
                    <li class="menu-item" (click)="gotoQuickSettings()"><div class="text">Quick Settings</div></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Leftside">Lewy
    </div>
    <div class="Files">Pliki
    </div>
    <div class="News">
        <div class="news-text text-center">News</div>
        <div class="news-tiles">
            <div class="news-tile" *ngFor="let msg of news;">
                <div class="news-link" (click)="openInBrowser(msg.link)">
                    <div class="title">{{msg.title}}</div>
                    <div class="description">{{msg.description}}</div>
                </div>
        </div>
    </div>
</div>
</div>