<!--<div style="background-color: red; height: 80vh; width: 95vh">-->
    <!--<mat-grid-list cols="2">-->
    <!--<mat-grid-tile class="tile">-->
    <!--<button (click)="gotoItems()" mat-button>Items</button>-->
    <!--</mat-grid-tile>-->
    <!--<mat-grid-tile class="tile">-->
    <!--<button (click)="gotoServer()">Server</button>-->
    <!--</mat-grid-tile>-->
    <!--<mat-grid-tile class="tile">-->
    <!--<button (click)="gotoSettings()">Settings</button>-->
    <!--</mat-grid-tile>-->
    <!--<mat-grid-tile class="tile">-->
    <!--<button (click)="gotoQuickSettings()">Quick Settings</button>-->
    <!--</mat-grid-tile>-->
    <!--</mat-grid-list>-->
<!--</div>-->
<navbar-app></navbar-app>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 tile"><button class="tile-button" (click)="gotoServer()">Server</button></div>
    <div class="col-lg-6 col-md-6 col-sm-6 tile"><button class="tile-button" (click)="gotoServer()">Server</button></div>
    <div class="col-lg-6 col-md-6 col-sm-6 tile"><button class="tile-button" (click)="gotoServer()">Server</button></div>
    <div class="col-lg-6 col-md-6 col-sm-6 tile"><button class="tile-button" (click)="gotoServer()">Server</button></div>
</div>