<!--<div>-->
    <!--<h4 *ngFor="let property of serverXML?.ServerSettings?.property">{{property['-name}}</h4>-->
<!--</div>-->
<div class="fake-body">

<navbar-app [options]="options"></navbar-app>
<div #inputChips class="input-chip-parent">
    <div class="input-chips">
        <mat-form-field style="width: 100%; color: white !important;">
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let property of propertyName" [selectable]="selectable"
                          [removable]="removable" (remove)="remove(property)">
                    {{property}}
                    <mat-icon matChipRemove (click)="remove(property)" *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input style="color: white;" #chipsInput matInput placeholder="Add tags for search..."
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)"
                       (keydown.backspace)="removeByKey(chipsInput.value)">
            </mat-chip-list>
        </mat-form-field>
    </div>
</div>

<div class="server-table" [ngStyle]="{'padding-top': padding}">
    <table class="table table-dark">
        <!--<thead>-->
        <!--<tr class="sticky-top">-->
        <!--<th scope="col">-->

        <!--</th>-->
        <!--<th scope="col">Value</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <tbody>
        <tr *ngFor="let property of serverXML?.ServerSettings?.property | SearchFilter: fakeSearchWord: propertyName; let propertyIndex = index; let last = last" (change)="detectChanges()" [ngSwitch]="getTypeOfDirective(property['-name'], property['-value'])" [ngClass]="{'second-tr': propertyIndex%2 === 0}">
            <td class="name">{{property['-name'] | splitWords}}</td>
            <td *ngSwitchCase="TypeOfValue.Boolean"><button class="btn" [ngClass]="{'btn-danger': !getBooleanValue(property['-value']), 'btn-primary': getBooleanValue(property['-value'])}" (click)="booleanChangeOposite(property['-name'])">{{property['-value']}}</button></td>
            <td *ngSwitchCase="TypeOfValue.String"><input class="form-control" id="name" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="property['-value']"></td>
            <td *ngSwitchCase="TypeOfValue.Difficulty">
                <div class="btn-group" (onShown)="detectChanges()" (onHidden)="detectChanges()" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                        {{Difficulty[property['-value']]}} <span class="caret"></span>
                    </button>
                    <ul  *dropdownMenu class="dropdown-menu" role="menu">
                        <li *ngFor="let difficulty of Difficulty | enumToArray" role="menuitem"><a class="dropdown-item" (click)="dropdown.hide(); setDifficulty(difficulty, property['-name'])">{{difficulty}}</a></li>
                    </ul>
                </div>
            </td>
            <td *ngSwitchCase="TypeOfValue.ZombiesRun">
                <div class="btn-group" (onShown)="detectChanges()" (onHidden)="detectChanges()" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                        {{ZombiesRun[property['-value']] | splitWords}} <span class="caret"></span>
                    </button>
                    <ul  *dropdownMenu class="dropdown-menu" role="menu">
                        <li *ngFor="let zombiesRun of ZombiesRun | enumToArray" role="menuitem"><a class="dropdown-item" (click)="dropdown.hide(); setZombiesRun(zombiesRun, property['-name'])">{{zombiesRun | splitWords}}</a></li>
                    </ul>
                </div>
            </td>
            <td *ngSwitchCase="TypeOfValue.PlayerKillingMode">
                <div class="btn-group" (onShown)="detectChanges()" (onHidden)="detectChanges()" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                        {{PlayerKillingMode[property['-value']] | splitWords}} <span class="caret"></span>
                    </button>
                    <ul  *dropdownMenu class="dropdown-menu" role="menu">
                        <li *ngFor="let playerKillingMode of PlayerKillingMode | enumToArray" role="menuitem"><a class="dropdown-item" (click)="dropdown.hide(); setPlayerKillingMode(playerKillingMode, property['-name'])">{{playerKillingMode | splitWords}}</a></li>
                    </ul>
                </div>
            </td>
            <td *ngSwitchCase="TypeOfValue.EnemyDifficulty">
                <div class="btn-group" (onShown)="detectChanges()" (onHidden)="detectChanges()" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                        {{EnemyDifficulty[property['-value']]}} <span class="caret"></span>
                    </button>
                    <ul  *dropdownMenu class="dropdown-menu" role="menu">
                        <li *ngFor="let enemyDifficulty of EnemyDifficulty | enumToArray" role="menuitem"><a class="dropdown-item" (click)="dropdown.hide(); setEnemyDifficulty(enemyDifficulty, property['-name'])">{{enemyDifficulty}}</a></li>
                    </ul>
                </div>
            </td>
            <td *ngSwitchCase="TypeOfValue.DropOnQuit">
                <div class="btn-group" (onShown)="detectChanges()" (onHidden)="detectChanges()" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                        {{DropOnQuit[property['-value']] | splitWords}} <span class="caret"></span>
                    </button>
                    <ul  *dropdownMenu class="dropdown-menu" role="menu">
                        <li *ngFor="let dropOnQuit of DropOnQuit | enumToArray" role="menuitem"><a class="dropdown-item" (click)="dropdown.hide(); setDropOnQuit(dropOnQuit, property['-name'])">{{dropOnQuit | splitWords}}</a></li>
                    </ul>
                </div>
            </td>
            <td *ngSwitchCase="TypeOfValue.DropOnDeath">
                <div class="btn-group" (onShown)="detectChanges()" (onHidden)="detectChanges()" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                        {{DropOnDeath[property['-value']] | splitWords}} <span class="caret"></span>
                    </button>
                    <ul  *dropdownMenu class="dropdown-menu" role="menu">
                        <li *ngFor="let dropOnDeath of DropOnDeath | enumToArray" role="menuitem"><a class="dropdown-item" (click)="dropdown.hide(); setDropOnDeath(dropOnDeath, property['-name'])">{{dropOnDeath | splitWords}}</a></li>
                    </ul>
                </div>
            </td>
            <td *ngSwitchCase="TypeOfValue.GameWorld">
                <div class="btn-group" (onShown)="detectChanges()" (onHidden)="detectChanges()" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                        {{property['-value'] | splitWords}} <span class="caret"></span>
                    </button>
                    <ul  *dropdownMenu class="dropdown-menu" role="menu">
                        <li *ngFor="let gameWorld of GameWorld | enumToArray" role="menuitem"><a class="dropdown-item" (click)="dropdown.hide(); setGameWorld(gameWorld, property['-name'])">{{gameWorld | splitWords}}</a></li>
                    </ul>
                </div>
            </td>
            <td *ngSwitchCase="TypeOfValue.Percentage">
                <div class="range-slider">
                    <input class="range-slider__range" type="range" [ngModelOptions]="{standalone: true}" (ngModelChange)="detectChanges()" [(ngModel)]="property['-value']" [value]="property['-value']" min="0" max="100">
                    <span class="range-slider__value"><input #percentageInput class="percentage" type="text" [ngModelOptions]="{standalone: true}" (ngModelChange)="setPercentage(property['-name'], percentageInput)" [(ngModel)]="property['-value']"></span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</div>

