:host {
  margin: 0;
  padding: 0;

  .head{
    width: 100%;
    margin-bottom: 40px;

    img {
      margin: auto;
      display: block;
      width: 25%;
    }

    h1{
      text-align: center;
      color: #DC1E34;
    }
  }

  .container{
    width: 100%;
    padding-top: 15px;
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:after,
*:before{
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.header{
  flex: 0 0 auto;
  background: #aaa;
}
.content{
  flex: 1 1 auto;
  overflow-y: auto;
}
.footer{
  flex: 0 0 auto;
  background: #aaa;
}