$primary-bg-color: #222831;
$primary-color: #00adb5;
$secondary-color: #393e46;
$gray-color: #eeeeee;


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url('./assets/fonts/Raleway-Regular.woff2') format('woff2');
}

body{
  background-color: $primary-bg-color;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.tile {
  background-color: red;
  height: 50vh;
  padding: 0 !important;
  border: 1px solid white;
}

.tile-button {
  height: 100%;
  width: 100%;
}
