$primary-bg-color: #222831;
$primary-color: #00adb5;
$secondary-color: #393e46;
$gray-color: #eeeeee;

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url('./assets/fonts/Raleway-Regular.woff2') format('woff2');
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $gray-color !important;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $gray-color !important;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: $gray-color !important;
}
.mat-chip.mat-standard-chip {
  color: $gray-color !important;
  background-color: $primary-color !important;
}

body{
  height: 100vh;
  background-color: $primary-bg-color;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.tile {
  background-color: red;
  height: 50vh;
  padding: 0 !important;
  border: 1px solid white;
}

.tile-button {
  height: 100%;
  width: 100%;
}
.swal2-icon.swal2-success {
  border-color: $primary-color !important;
}
.swal2-icon.swal2-success.swal2-animate-success-icon {
  border-color: $primary-color !important;
}
.swal2-icon.swal2-success [class^='swal2-success-line'] {
  background-color: $primary-color !important;
}
.swal2-success-line-tip {
  border-color: $primary-color !important;
}
.swal2-success-line-long {
  border-color: $primary-color !important;
}
.swal2-icon.swal2-success .swal2-success-ring {
  border-color: rgba(0, 173, 181, 0.21) !important;
}

.swal2-title {
  color: #ffffff !important;
}

.swal2-popup {
  border: solid 1px $primary-color;
  border-radius: 25px !important;
}